[build-system]
requires = ["setuptools", "jinja2", "perfect-hash"]
build-backend = "setuptools.build_meta"

[project]
name = "breathe"
description = "Sphinx Doxygen renderer"
authors = [{name = "Michael Jones", email = "m.pricejones@gmail.com"}]
license = {file = "LICENSE"}
readme = "README.rst"
classifiers = [
    "Development Status :: 4 - Beta",
    "Environment :: Console",
    "Environment :: Web Environment",
    "Framework :: Sphinx :: Extension",
    "Intended Audience :: Developers",
    "Intended Audience :: Education",
    "License :: OSI Approved :: BSD License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Topic :: Documentation",
    "Topic :: Text Processing",
    "Topic :: Utilities",
]

# Keep in sync with breathe/__init__.py __version__
version = "4.35.0"

requires-python = ">=3.8"
dependencies = [
    "Sphinx>=4.0,!=5.0.0",
    "docutils>=0.12"
]

[project.urls]
homepage = "https://github.com/michaeljones/breathe"

[project.scripts]
breathe-apidoc = "breathe.apidoc:main"

[tool.black]
line-length = 100
extend-exclude = '''
^/examples/.* | ^/tests/data/.*
'''

[tool.cibuildwheel]
test-requires = "pytest"
test-command = "BREATHE_DOXYGEN_TEST_CACHE={project}/tests/data/examples/_cache pytest {project}/tests"
