# For a case where Breathe was failing on the doxygen output

PROJECT_NAME     = "Group Test"
OUTPUT_DIRECTORY = group
GENERATE_LATEX   = NO
GENERATE_MAN     = NO
GENERATE_RTF     = NO
CASE_SENSE_NAMES = NO
INPUT            = group.h
QUIET            = YES
JAVADOC_AUTOBRIEF = YES
GENERATE_HTML = NO
GENERATE_XML = YES
