# For a case where Breathe was failing on the doxygen output

PROJECT_NAME     = "Parameters Test"
OUTPUT_DIRECTORY = parameters
GENERATE_LATEX   = NO
GENERATE_MAN     = NO
GENERATE_RTF     = NO
CASE_SENSE_NAMES = NO
INPUT            = parameters.h
QUIET            = YES
JAVADOC_AUTOBRIEF = YES
GENERATE_HTML = NO
GENERATE_XML = YES
